html,body{
   
	background:transparent;
	font-size: 100%;	
	font-family: 'Muli', sans-serif;
}

.header{
	
	
	
	text-align:center;
	
}


.logo h1{
	font-size:1.8em;
  margin-left: -2em;
	font-family: 'Montserrat', sans-serif;
}
.logo h1 a{
	text-decoration:none;
	color:#06B0A0;
}
.logo h1 a span{
	width: 40px;
    height: 40px;
    display:inline-block;
    border: 2px solid black;
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    -moz-transform: rotate(45deg) translate3d(0, 0, 0);
    -ms-transform: rotate(45deg) translate3d(0, 0, 0);
    -o-transform: rotate(45deg) translate3d(0, 0, 0);
    transform: rotate(45deg) translate3d(0, 0, 0);
	margin-left: 12px;
}
.logo h1 a b{
	width: 40px;
    height: 40px;
    
    display: inline-block;
    -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
    -moz-transform: rotate(-45deg) translate3d(0, 0, 0);
    -ms-transform: rotate(-45deg) translate3d(0, 0, 0);
    -o-transform: rotate(-45deg) translate3d(0, 0, 0);
    transform: rotate(-45deg) translate3d(0, 0, 0);
	    line-height: 1.1em;
    text-align: center;
}
.logo h1 a i{
	display: block;
    font-style: normal;
        margin-left: 5em;
    font-size: 19px;
    
}
.navbar-brand {
   height: auto; 
    padding: 0; 
    font-size: 18px; 
    line-height: 20px;
}


.navbar-top {
    float: left;
	
}

